#selected-project-image {
  width: 100%;
}
#project-image-display {
  padding: 3em;
}
a.selected {
  opacity: .5;
  cursor: pointer;
}
h1 {
  color: red !important;
}
.thumbnail {
  float: left;
  background: blue;
  margin: 0 20px 20px 0;
  width: 14em;
}
.thumbnail > img:hover {
  opacity: .5;
  cursor: pointer;
}
